@{
    ViewData["Title"] = "Menú Principal";
}

<h2>Menú Principal</h2>

<div class="d-flex flex-column align-items-start" role="group" aria-label="Menu">
    <a href="@Url.Action("CrearCliente", "Home")" class="btn btn-primary"> Clientes </a>
    <a href="@Url.Action("", "Home")" class="btn btn-warning"></a>
    <a href="@Url.Action("", "Home")" class="btn btn-primary"></a>
    <a href="@Url.Action("", "Home")" class="btn btn-warning"></a>
</div>